{%extends 'base.html'%}
{%load static%}
{%block link%}
    <link rel="stylesheet" href="{%static 'style/loginstyle.css'%}" media="print" onload="this.media='all'">

{%endblock link%}

{%block content%}
    <div class="boxcontainer">
        <div class="center_form">
           
                {% if form.errors %}
                <div id="flash_box">
                    Invalid Login Credentials
                    <button id="flash_close" onclick="document.getElementById('flash_box').style.display = 'none';">x</button>
                </div>

                {% endif %}
                
            <div class="loginbox">
                <div class="loginhead">
                    <b>Login</b>
                </div>
                <div class="loginform">
                    <form method="post" style="color: black;">
                    
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                </p>                                
                            {% endfor %}
                            
                            <button id="loginbtn" type="submit">Login</button>

                                        
                    </form>
                </div>
            </div>
        </div>
    </div>
            
{%endblock content%}