@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

body{
    margin: 0;
    font-size: 2vh;
    font-family: Overpass, Oxygen, sans-serif;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: inherit;
    margin: 1vw;

}
#header{
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    background: linear-gradient(120deg, rgba(207,0,6,0.8) 0%, rgba(137,0,110,1) 40%, rgba(75,0,102,1) 100%);
    display: grid;
}

#top_head{
    padding-top: 1.3vh;
    color: white;
    font-size: 5.5vh;
    grid-column: 1;
}

#link_head{
    box-sizing: border-box;
    text-align: right;
    font-size: 2.5vh;
    padding-right: 1vw;
    color: white;
    grid-column: 2;
    margin-top: 3vh;
}

#mbody{
    padding-top: 3vh;
    width:100%;
    box-sizing: border-box;
    min-height: 79vh;
}

#footer{
    width:100%;
    background-color: rgba(40,0,60,0.85);
    color: white;
    position: relative;
    height: 5vh;
    text-align: center;
    padding-top: 2vh;
}

#footer a{
    color: white;
}

@media only screen and (max-width: 768px) {
    
    #header{
        display: grid;
        height: 6.5vh;
    }

    #mbody{
        min-height: 82.5vh;
    }

    #top_head{
        font-size: 3vh;
        height: 70%;
    }

    #link_head{
        margin-top: 2vh;
        font-size: 2vh;
        height: 30%;
    }
}