#center{
    width: 100vw;
    text-align: center;
}
#contrib{
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
table{
    width: 80%;
    text-align: center;
}
td{
    padding: 25px;
}
#imgstyle{
    height: 200px;
    border-radius: 50%;
}
#title_name{
    font-family: sans-serif;
    font-size: 3vh;
    font-weight:bolder;
}