#center{
    width: 100vw;
    text-align: center;
}
#contrib{
    width: 100vw;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
}

#imgstyle{
    height: 200px;
    border-radius: 50%;
}
#title_name{
    font-family: sans-serif;
    font-size: 3vh;
    font-weight:bolder;
}

#Avishrant{
    grid-column: 1;
    text-align: center;
}

#Kunal{
    grid-column: 2;
    text-align: center;
}

#box{
    text-align: center;
    justify-content: center;
    width: 50vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

@media only screen and (max-width: 768px) {
    
    #Kunal{
        grid-column: 1;
    }

    #box{
        width: 100vw;
    }
}
