
#text{
	padding-left: 3vw;
}

#main_head{
	font-size: 4vh;
	margin:0;
}

#second_head{
	font-size: 3.5vh;
	margin:0;
}

#dash_container{
	display: grid;
	padding-left: 3vw;
	padding-bottom: 3vh;
	padding-top: 3vh;
	font-size: 2.8vh;
    transition: 0.3s;
    border-radius: 20px;
}

#left_dash{
	grid-column: 1;
}

#center_dash{
	grid-column: 2;
}

#bottom{
	display: block;
}

#right_dash{
	padding-top: 3vh;
}

#heading_container{
	border-bottom: solid;
	border-radius: 3vw;
	border-color: rgba(207,0,6,1);
	padding-left: 3vw;
}

#link_container{
	text-align: right;
	padding-right: 5vw;
	box-sizing: border-box;
}

#blood_bank{
	width: 100%;
}

#blood_bank th, #blood_bank td{
	padding: 1vh;
	border: 2px solid rgba(207,0,6,0.3) ;
}

#basic, #dynamic{
	padding-left: 2vh;
}

#basic:hover, #dynamic:hover{
	background-color: rgba(207,0,6,0.4);
	border-radius: 10px;
    transition: 0.5s;

}
#edit{
	transition: font-size 0.1s;
}
#edit:hover{
	font-size: 2.1vh;
}
td{
	padding:1vh;
}
#b_unit{
	padding: 0vh;
	text-align: left;
	width: 12%;
	background-color: rgba(207,0,6,0.6);
	color: white;
}

/*#############################################*/

#head_container{
	padding-left: 2vh;
}

#r_head{
	font-size: 3vh;
	margin: 0;
}

#add_request{
    text-align: center;
    padding-left: 35%;
    padding-right: 35%;
}

.btn {
	background-color: rgba(137,0,110,0.2);
	border: none;
	padding: 5px 10px;
	font-size: 2.5vh;
	margin: 4px 2px;
	transition: 0.4s;
}

.btn:hover {
	background-color: rgba(207,0,6,0.6);
	color: white;
}

#table_container{
  padding: 1vw;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

#issuetable{
	width: 100%;
    table-layout: fixed;
    word-break: break-word;
    border-radius: 10px;
    border-collapse: collapse;
    text-align: left;
    border: 3px outset rgba(207,0,6,0.65);
}

#view_link:hover{
	background-color: rgba(137,0,110,0.2);
	transition: 0.5s;
}

tr{
  border-bottom: 1px solid grey;
}

#issuetable tr.theader{
    background-color: rgba(207,0,6,0.65);
    color: white;
}

#issuetable td{
	padding-left: 10px;
}

#issuetable td:hover{
	border: 2px outset rgba(207,0,6,0.65);
}

th{
	padding: 1vh;
	text-align: center;
}

/*##########################################*/

@media only screen and (max-width: 768px) {

	#center_dash{
		padding-top: 3vh;
		grid-column: 1;

	}	

	#right_dash{
		padding-top: 3vh;
		grid-column: 1;

	}

	#dynamic, #basic, #blood_bank{
		padding-left: 3vh;
	}



	#table_container{
		padding: 0;
	}
}

