

#text{
	padding-left: 3vw;
}

#main_head{
	font-family: overpass;
	font-size: 3.5vh;
	margin:0;
}

#second_head{
	font-family: overpass;
	font-size: 2.8vh;
	margin:0;
}

#dash_container{
	margin-top: 3vh;
	display: grid;
	padding-left: 3vw;
	padding-bottom: 3vh;
}

#left_dash{
	grid-column: 1;
}

#center_dash{
	grid-column: 2;
}

#right_dash{
	grid-column: 3;
}

#heading_container{
	border-bottom: solid;
	border-radius: 3vw;
	border-color: rgba(207,0,6,1);
	padding-left: 3vw;
}

#link_container{
	text-align: center;
}

#edit{
	text-decoration: underline;
}


@media only screen and (max-width: 768px) {

	#center_dash{
		padding-top: 3vh;
		grid-column: 1;

	}	

	#right_dash{
		padding-top: 3vh;
		grid-column: 1;

	}

	#dynamic, #basic, #blood_bank{
		padding-left: 3vh;
	}
}

