textarea, input{
    border-radius:1vw; 
	border-width: 1px;
	font-size: 2vh;
	max-width: 80%;
	margin: 0;
}

#heading_container{
	border-bottom: solid;
	border-radius: 3vw;
	border-color: rgba(75,0,102,1);
	padding-left: 3vw;
}

#main_head{
	font-size: 3.5vh;
	margin:0;
}

#form_container{
	padding-left: 4vw;
	padding-top: 2vh;
	font-size: 2.5vh;
}


