@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

#mbody{
    background-image: url("../images/assets/Hola.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
}

.home_container{
    text-align: center;

}

#title_sec{
    font-family: Poiret One;
    font-size: 4vw;
    width: 100%;
}

#define_sec{
    display: grid;
}

#vis_sec{
    display: grid;
    background: linear-gradient(120deg, rgba(75,0,102,0.6) 0%, rgba(137,0,110,0.8) 60%, rgba(207,0,6,0.6) 100%);
    margin-bottom: 3vh;
    width: 100%;
}

#tech_sec{
    align-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

#left_define{
    grid-column: 1;
    width: 60vw;
    text-align: right;
    padding: 3vh;
    font-size: 2.5vw;
    font-family: 'Thasadith', sans-serif; 
}

#right_define{
    grid-column: 2;
    width: 20vw;
}

#left_vis{
    grid-column: 1;
    width: 15vw;
    padding: 3vh;
    font-family: Poiret One, sans-serif;
    font-size: 3.5vw;
    margin:0;
    background-color: rgba(256, 256, 256, 0.3);
}

#right_vis{
    grid-column: 2;
    width: 85%;
    text-align: left;
    padding: 3vh;
    font-size: 2.5vw;
    margin:0;
    font-family: 'Thasadith', sans-serif; 
    color: white;
}

#tech_container{
    margin: 0;
    padding: 2vh;
    display: grid;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 1vw;
}

#tech_head{
    padding-top: 3vw;
    font-family: Poiret One, sans-serif;
    font-size: 4vw;
    font-weight: bold;
}

#tech_head2{
    font-family: Thasadith;
    font-weight: bold;
    font-size: 1.9vw;
    padding-bottom: 2vw;
}

#tech_list{
	text-align: left;
	padding-left: 2vh;
}

#tech1{
    grid-column: 1;
    text-align: center;
    width: 28vw;
    padding: 2vh;
    font-family: 'Thasadith', sans-serif; 
    font-size: 1.7vw;
 /*   background-color: rgba(207,0,6,0.2);*/
}

#tech2{
    grid-column: 2;
    width: 28vw;
    text-align: center;
    padding: 2vh;
    font-family: 'Thasadith', sans-serif;
    font-size: 1.8vw;

/*   background-color: rgba(137,0,110,0.2);*/
}

#tech3{
    grid-column: 3;
    width: 28vw;
    text-align: center;
    padding: 2vh;
    font-family: 'Thasadith', sans-serif; 
    font-size: 1.8vw;
/*    background-color: rgba(75,0,102,0.2);*/
}

#left_body{
    grid-column: 1;
}

#right_body{
    grid-column: 2;
}

#img{
    width:80%;
}

#end_sec{
	background-color: rgba(207,0,6,0.5);
	color: white;
	padding: 2vh;
	height: 4vh;
	font-size: 3vh;
	font-weight: bold;
	font-family: Poiret One, sans-serif;

}

@media only screen and (max-width: 768px) {

	#tech_sec{
		text-align: center;
		align-content: center;
	}
	
	#tech1{
        width: 100%;
        padding: 0;
		font-size: 2vh;
	}

	#tech2{
        grid-column: 1;
        padding: 0;
		width: 100%;
		font-size: 2vh;
	}

	#tech3{
        grid-column: 1;
        padding: 0;
		width: 100%;
		font-size: 2vh;
	}

	#img{
    	width: 40%;
	}

	#tech_head2{
		font-size: 3vh;
	}
}