
#mbody{
    background: linear-gradient(180deg, rgba(207,0,6,0.1) 0%, rgba(137,0,110,0.2) 40%, rgba(75,0,102,0.2) 100%);
}

h2{
  padding-left: 2vh;
}

#table_container{
  padding: 1vw;
  text-align: center;

}

#issuetable{
    table-layout: fixed;
    word-break: break-word;
    width: 100%;
    border-collapse: collapse; /* Collapse borders */
    text-align: left;
    border: 2px solid #ddd; /* Add a grey border */
    font-size: 2.5vh; /* Increase font-size */

}
tr{
  border-bottom: 1px solid grey;
}

#issuetable tr.theader{
    background-color: rgba(207,0,6,0.7);
    color: white;
}

#issuetable tr.tsubhead, #issuetable tr.tsubhead:hover{
  background-color: rgba(207,0,6,0.6) !important;
  color: white;
  font-size: 1.2vw;
}

#issuetable tr.theader:hover{
    background-color: rgba(207,0,6,0.7);
    font-size: 2.5vh;
  }

#issuetable td:hover{
  border: 2px outset rgba(207,0,6,0.65);
}

#issuetable tr:nth-child(even)
  {
    background-color:  rgba(242,242,242, 0.8); 
}

#issuetable tr:hover {
    font-size: 2.6vh;
    background-color: rgba(137,0,110,0.4);
}

#issuetable th, #issuetable td {
    text-align: left; /* Left-align text */
    padding: 1vh; /* Add padding */
}


@media only screen and (max-width: 768px) {

  #issuetable{
      margin-top: 3vh;
      font-size: 1.5vh;
  }

   #issuetable tr.tsubhead{
      background-color: #777;
      color: white;
      font-size: 1vh;
      padding: 0;
  }

  #issuetable tr.tsubhead:hover{
      background-color: #777;
      color: white;
      font-size: 1vh;
      padding: 0;
  }

  #issuetable tr.theader:hover{
    background-color: rgba(207,0,6,0.7);
    font-size: 1.6vh;
  }

   #issuetable tr.theader{
    font-size: 1.6vh;
  }


  #issuetable tr:hover {
    font-size: 1.6vh;
}

  th{
    padding-left: 0 !important;
    padding-right: 0 !important;

  }
}