{%extends 'base.html'%}
{%load static%}
{%block title%}
    Dashboard|Uphaar
{%endblock title%}

{%block link%}
        <link rel="stylesheet" href="{%static 'style/recordstyle.css'%}">
        <script>
            function filter_by_name() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("name");
                filter = input.value.toUpperCase();
                table = document.getElementById("issuetable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        } else {
                        tr[i].style.display = "none";
                        }
                    }       
                }
            }
            function filter_by_reg() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("reg");
                filter = input.value.toUpperCase();
                table = document.getElementById("issuetable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        } else {
                        tr[i].style.display = "none";
                        }
                    }       
                }
            }
            function filter_by_country() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("country");
                filter = input.value.toUpperCase();
                table = document.getElementById("issuetable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        } else {
                        tr[i].style.display = "none";
                        }
                    }       
                }
            }
        </script>
{%endblock link%}
    
{%block content%}
    {%if user.is_authenticated%}
        <h2>All Requests</h2>
            {%if object%}
            <table id = "issuetable">
                <tr class="theader">
                    <th style="width:20%;">Name <input type="text" id="name" onkeyup="filter_by_name()" style="width: 10vw; max-width: 50px;" placeholder="-----"/></th>
                    <th style="width:15%;">Region<input type="text" id="reg" onkeyup="filter_by_reg()" style="width: 10vw; max-width: 50px;" placeholder="-----"/></th>
                    <th style="width:15%;">Country<input type="text" id="country" onkeyup="filter_by_country()" style="width: 10vw; max-width: 50px;" placeholder="-----"/></th>
                    <th style="width:10%;">Bed Capacity</th>
                    <th style="width:10%;">Available</th>
                    <th style="width:10%;">Total cases</th>
                    <th style="width:10%;">Recovered</th>
                    <th style="width:10%;">Deaths</th>


                    
                </tr>
            {%for i in object%}
                <tr>
                    <td>
                        {{i.name}}
                    </td>
                    <td>
                        {{i.region}}
                    </td>
                    <td>
                        {{i.country}}
                    </td>
                    <td>
                        {{i.bed_capacity}}
                    </td>
                    <td>
                        {{i.available}}
                    </td>
                    <td>
                        {{i.total}}
                    </td>
                    <td>
                        {{i.recovered}}
                    </td>
                    <td>
                        {{i.fatalities}}
                    </td>
                </tr>

            {%endfor%}
            </table>

        {%else%}
                Nothing to Show
        {%endif%}
    {%else%}
        <b>Error : </b>You do not have necessary permissions to view this content
    {%endif%}

{%endblock content%}