{%extends 'base.html'%}
{%load customfilter%}
{%load static%}

{%block title%}
    Hospital Details
{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'style/h_details.css'%}?v=1.7">
{%endblock link%}
{%block content%}
    
    <div id="head_container">
        <h3 id = "r_head">
        Requests and Equipment Management Interface
        </h3>
    </div>

    <div id="table_container">

        {%if object%}
        <table id="issuetable"  border="1">
            <tr class="theader">
                <th style="width:26%;">
                    Name
                </th>
                <th style="width:14%;">
                    Region
                </th>
                <th style="width:36%;">
                    Request
                </th>
                <th>
                    Req. On
                </th>
                <th>
                    Status
                </th>
            </tr>   
            {%for i in object%}
                    <tr>
                        <td>
                            {{i.sender|safe}}
                        </td>
                        <td>
                            {{i.sender|region}}
                        </td>
                        <td>
                            <div id="view_link">
                                <a href="{%url 'req_detail' i.uuid %}">
                                    {{i.message|safefont}}
                                </a>
                            </div>
                        </td>
                        <td>
                            {{i.date}}
                        </td>
                        <td>
                            {{i.status}}
                        </td>
                    </tr>
            {%endfor%}
        </table>

    <div id="add_request">
        <a href="{%url 'add_req'%}"> <div class="btn">Add New Request </div></a>
    </div>
        {%else%}
            All Clear. Nothing to show
        {%endif%}
    </div>

{%endblock content%}