{%extends 'base.html'%}
{%load static%}
{%load customfilter%}

{%block title%}
    All Records
{%endblock title%}
{%block link%}
        <link rel="stylesheet" href="{%static 'style/recordstyle.css'%}?v=1.4">
        <script>
            function filter_by_name() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("name");
                filter = input.value.toUpperCase();
                table = document.getElementById("issuetable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        } else {
                        tr[i].style.display = "none";
                        }
                    }       
                }
            }
            function filter_by_reg() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("reg");
                filter = input.value.toUpperCase();
                table = document.getElementById("issuetable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        } else {
                        tr[i].style.display = "none";
                        }
                    }       
                }
            }
            function filter_by_country() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("country");
                filter = input.value.toUpperCase();
                table = document.getElementById("issuetable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        } else {
                        tr[i].style.display = "none";
                        }
                    }       
                }
            }
        </script>
{%endblock link%}
    
{%block content%}
    {%if user.is_authenticated%}
            <h2>All Records</h2>
                {%if object%}
                <div>
                    <div id="table_container">
                    <table id = "issuetable">
                        <tr class="theader">
                            <th style="width:20%;" rowspan="2">Name <input type="text" id="name" onkeyup="filter_by_name()" style="width: 10vw; max-width: 50px;" placeholder="-----"/></th>
                            <th style="width:12%;" rowspan="2">Region<input type="text" id="reg" onkeyup="filter_by_reg()" style="width: 10vw; max-width: 50px;" placeholder="-----"/></th>
                            <th style="width:14%;" rowspan="2">Country<input type="text" id="country" onkeyup="filter_by_country()" style="width: 10vw; max-width: 50px;" placeholder="-----"/></th>
                            <th style="width:24%; text-align: center;" colspan="3">Bed Capacity</th>
                            <th style="width:24%; text-align: center;" colspan="3">Available</th>

                        </tr>
                        <tr class='tsubhead'>
                            <th id = "subhead">General</th>
                            <th id = "subhead">Emergency</th>
                            <th id = "subhead">Isolation</th>
                            <th id = "subhead">General</th>
                            <th id = "subhead">Emergency</th>
                            <th id = "subhead">Isolation</th>
                        </tr>

                        {%for i in object%}
                        <tr>
                            <td>
                                {{i.name}}
                            </td>
                            <td>
                                {%if i.region%}
                                    {{i.region}}
                                {%else%}
                                -
                                {%endif%}
                            </td>
                            <td>
                                {{i.country}}
                            </td>
                           
                            {%with a=i.bed_capacity|bed%}
                                {%for type,quant in a.items%}
                                    <td>
                                        {{quant}}
                                    </td>
                                {%endfor%}
                            {%endwith%}
                            {%with a=i.available|bed%}
                                {%for type,quant in a.items%}
                                    <td>
                                        {{quant}}
                                    </td>
                                {%endfor%}
                            {%endwith%}
                        </tr>

                    {%endfor%}
                    </table>
                </div>
                </div>
            {%else%}
                    Nothing to Show
            {%endif%}
    {%else%}
        <b>Error : </b>You do not have necessary permissions to view this content
    {%endif%}

{%endblock content%}