{%extends 'base.html'%}

{%load static%}

{%block title%}
    Developers
{%endblock title%}
{%block link%}
    <link rel="stylesheet" href="{%static 'style/devstyle.css'%}">

{%endblock link%}

<!-- Start From here -->
{%block content%}
    <div id="center">
        <p id='left_define'>
            Some of the coolest inidividuals you will ever meet.
        </p>    
    </div>
    <div id="contrib">
       
        <div id = "Avishrant">
            <div id = "box">
                <img src="{%static 'images/assets/Avishrant.jpg'%}" id="imgstyle">
                <figcaption> 
                    <span id="title_name">The Mechanic</span><br>
                    Avishrant Sharma
                </figcaption>
            </div>
        </div>
                
        <div id = "Kunal">
            <div id = "box">
                <img src="{%static 'images/assets/Kunal.jpg'%}" id="imgstyle">
                <figcaption> 
                    <span id="title_name">The Pro</span><br>
                    Kunal Thakur
                </figcaption>
            </div>
        </div>

        <div id = "Prateek">
            <div id = "box">
                <img src="{%static 'images/assets/Prateek.jpg'%}" id="imgstyle">
                <figcaption> 
                    <span id="title_name">The Artist</span><br>
                    Prateek Thakur
                </figcaption>
            </div>
        </div>

        <div id = "Pushpdeep">
            <div id = "box">
                <img src="{%static 'images/assets/Pushpdeep.jpg'%}" id="imgstyle">
                <figcaption> 
                    <span id="title_name">The Brainstormer</span><br>
                    Pushpdeep Singh
                    </figcaption>
            </div>
        </div>
    </div>
   
{%endblock content%}