{%extends 'base.html'%}
{%load customfilter%}
{%load static%}

{%block title%}
    Support|Test
{%endblock title%}

{%block link%}
    <link rel="stylesheet" href="{%static 'style/h_details.css'%}?v=1.5">
{%endblock link%}

{%block content%}

<div id = "body_container">
	<div id = "heading_container">
		<h3 id = "main_head">
		Institution Dashboard
		</h3>
	</div>

	<div id = "dash_container">
		<div id = "left_dash">
			<h3 id="second_head">
			Basic Info
			</h3>
			<table id="basic">
				
				<tr>
					<td id="basic_left"> Name of Hospital: </td> <td id="basic_right">{{object.name}}</td>	
				</tr>

				<tr>
					<td id="basic_left"> Address: </td>	<td id="basic_right">{{object.address}}</td>		
				</tr>

				<tr>
					<td id="basic_left"> Country: </td> <td id="basic_right"> {{object.country}}</td>	
				</tr>

				<tr> <td> <br> </td></tr>

				<tr>
					<td id="basic_left"> Total Bed Capacity: </td> 
				</tr>

				{%with a=object.bed_capacity|bed%} 
				{% for type, units in a.items%}
					<tr>
						<td id="basic_left"> {{type}}:</td>	<td id="basic_right">{{units}}</td>			
					</tr>
				{%endfor%}
				{%endwith%}


			</table>

		</div>
		<div id = "center_dash">
			<h3 id="second_head">
			Dynamic Info
			</h3>

			<table id="dynamic">
				
				<tr>
					<td id="dynamic_left">Ventilators Available: </td> <td id="dynamic_right">{{object.ventilator}}</td>	
				</tr>

				<tr> <td> <br></td></tr>
				
				<tr>
					<td id="dynamic_left">PPE Kits: </td>	<td id="dynamic_right">{{object.ppe}}</td>		
				</tr>

				<tr> <td> <br></td></tr>

				<tr>
					<td id="dynamic_left"> Available Beds: </td> 
				</tr>

				{%with a=object.available|bed%} 
				{% for type, units in a.items%}
					<tr>
						<td id="dynamic_left"> {{type}}:</td>	<td id="dynamic_right">{{units}}</td>			
					</tr>
				{%endfor%}
				{%endwith%}

			</table>
		</div>

		<div id="right_dash">

			<h3 id="second_head">
				Blood Bank Status
			</h3>

			<table id="blood_bank">
				<tr>
					<td id="dynamic_left"> Blood Units: </td> <td> (Almost Real-time)</td> 
				</tr>
				{%with a=object.blood|blood%} 
				{% for type, units in a.items%}
					<tr>
						<td id="dynamic_left"> {{type}}:</td>	<td id="dynamic_right">{{units}}</td>			
					</tr>
				{%endfor%}
				{%endwith%}
			</table>
		</div>

		
	</div>

	<div id = "link_container">
		<br>
		<a id = "edit" href="{%url 'change'%}">Change Data</a>
	</div>

</div>
{%endblock content%}