{%extends 'base.html'%}

{%load static%}

{%block title%}
    Home|Test
{%endblock title%}
{%block link%}

    
{%endblock link%}

{%block content%}


<h2> Heading 2
	<br> We recommend viewing this website in a computer.
</h2>

<div id="body_container_1">

<p id = "left_body">
	left hand stuff (text probably)
</p>
<p id = "right_body">
	right hand stuff (image or something)
</p>
</div>

<h3> Heading 3</h3>
<div id="body_container_2">
<p>
	something cool, probably a map. (T-T)
</p>
</div>

{%endblock content%}