{%extends 'base.html'%}

{%load static%}

{%block title%}
    Home|Test
{%endblock title%}
{%block link%}
	<link rel="stylesheet" href="{%static 'style/homestyle.css'%}">
{%endblock link%}

{%block content%}

<div class="home_container">
	<div id="title_sec">
		<h2>
			Hola, Amigos!
		</h2>
	</div>

	<div id="define_sec">
		<p id = "left_define">
			Welcome to our Inter-Hospital Management and Relevant Data Management system, which has been designed and created specifically to tackle various Pandemic (and similar) situations.		
		</p>
		<p id = "right_define">
			<img src="{%static 'images/assets/doctor.svg'%}" id="doc">		
		</p>
	</div>


	<div id="vis_sec">
		<p id = "left_vis">
			Our Vision
		</p>
		<p id = "right_vis">
		Well, its nice to have one
		</p>
	</div>


	<div id="tech_sec">
		<div id="tech_head">
			How does it work?
		</div>
		<div id="tech_container">
			<div id = "tech1">
				<span id = "tech_head2"> Hospital Management </span><br>
			<img src="{%static 'images/assets/hospital.svg'%}" id="img"><br>
				 
				 <ul id= "tech_list">
					<li>Digital Maintenace of Hospitals Records, such as:
						<ul>
						<li>Patient Details, minimal data to not endanger privacy
						<li>Staff Information
						<li>Availability of facilities, no. of patients in each type of ward, etc.
						</ul>
					<li>Hassle-free referencing to potent hospitals, due te the avialibility of info pertaining to facilities on the website.
					<li>Special preferences, and suggestions for vulnerable patients.
				</ul>
				
			</div>

			<div id = "tech2">
				<span id = "tech_head2"> Realtime Ambulance System</span><br>
			<img src="{%static 'images/assets/ambulance.svg'%}" id="img"><br>

				<ul id= "tech_list">
					<li>Location Enabled Tracking
					<li>Tackles Emergency and highly crowding situations seamlessly
					<li>Information on all regional hospitals, facilities in order to help decide the best place to take the patient in an emergency situation.
					<li>Identifying the best option for the situation nearby available hospitals based on their occupancy level, and other factors.
				</ul>

			</div>

			<div id = "tech3">
				<span id = "tech_head2"> Prediction & Analysis</span><br>
			<img src="{%static 'images/assets/stats.svg'%}" id="img"><br>
				<ul id="tech_list">
					<li> Real time patient data with effective clustering so as to identify vulnerable ones and manage them effectively through inter-hospital co-operation by potent hospitals.
					<li>Assessment of hospital requirements through ML by tracking the consumption of services at a local level - both staff as well as equipment, enabling a better future vision of needs.
					<li>Research to find patterns in patients to know the disease better and identifying pandemic prone situations quickly.
			</div>

		</div>
	</div>

	<div id="end_sec">
			#CodeforCovid19
		</p>
	</div>
</div>
{%endblock content%}