{%extends 'base.html'%}
{%load static%}
{%block title%}
    Statistics
{%endblock title%}
{%block link%}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="{%static 'style/statstyle.css'%}">
{%endblock link%}

{%block content%}
    
<div id="stats_container">
    
    <div id = "num_container">

        <div id = "num">
            
            <div id = "total">
                <div id="total_total" class = "big_text">
                    {{ttotal}}
                </div>
                Total Cases
            
                <div id="day_total" class = "small_text">
                    &mapstoup; {{dtotal}}
                </div>
                
            </div>

            <div id = "recover">
                <div id="total_recover" class = "big_text">
                    {{trecover}}
                </div>
                Recovered

                <div id="day_recover" class = "small_text">
                     &searr; {{drecover}}
                </div>
            </div>

            <div id = "death" >
                <div id="total_death" class = "big_text">
                    {{tdeath}}
                </div>
                Deceased

                <div id="day_death" class = "small_text">
                    &#9747; {{ddeath}}
                </div>
            </div>

        </div>

    </div>

    Last Updated {{time}}
    <div id="graph_container">
        {{graph|safe}}
        <br>     
    </div>
</div>


<div id = "instructions">
    <br>
    Please press and hold (and Drag) to slide.
</div>

{%endblock content%}